nav{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(179, 42, 21) 100%);
}

.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
  }

  .navbar-nav > li > a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }

  .fa-gavel{
    /*transform: rotate(270deg);*/
    color: white;
    margin: 5px;
    animation-name: martillo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes martillo {
    from {
        
    }
    to {
        transform: rotate(-90deg)
    }
}

.bar:hover{
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black, 0.1em 0.1em 0.1em white, 0.3em 0.3em 0.3em white;
    transform: scale(1.1, 1.1);
}

